body{
    font-family:"Comic Sans MS", fantasy;
    color:#ffffff;
    background-image: url("images/beautiful-space.jpg");
    background-size: cover;
    background-attachment: fixed;
}
ul{
    height: 40px;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    float: left;
    display: block;
    padding: 10px 20px;
    color: black;
}
ul li a:hover{
    color: black;
}
.pic {
    float: left;
    margin: 10px 50px 10px 50px;
}
td{
    text-align: center;
}
.quote{
    font-style: italic;
    font-size: 200%
}
.tabler{
    float: left;
    clear:left;
}
table {
    margin: auto; 
}
stop {
    clear:both;
    overflow-x: auto;
    text-align: center;
}