body{
    font-family:"Comic Sans MS", fantasy;
    color:#ffffff;
    background-image: url("images/beautiful-space.jpg");
    background-size: cover;
    background-attachment: fixed;
}
ul{
    height: 40px;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    float: left;
    display: block;
    padding: 10px 20px;
    color: black;
}
ul li a:hover{
    color: black;
}
p {
    font-size: medium;
}
.home{
    text-align: center;
    font-size: 400%;
}
.home2{
    float:right;
    margin: 0 0 10px 10px;
}
.home3{
    font-size: 200%
}
