body{
    font-family:"Comic Sans MS", fantasy;
    color: #ffffff;
    background-image: url("images/space.jpg");
    background-size: cover;
}
ul{
    height: 40px;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    float: left;
    display: block;
    padding: 10px 20px;
    color: black;
}
ul li a:hover{
    color: black;
}
h1 {
    text-align: center;
}
break {
    display: inline-block;
}
img {
    padding: 10px
}